extends layout

block content

  h1 Badmus's RESTful API
  h2 Time microservice
  p.red Example Usage
  code localhost:3000/April 15 2017
  br
  code localhost:3000/132657463
  p.red Example Output
  code { 'unix': 132657463, 'natural': April 15 2017}
